# Avito credentials
AVITO_CLIENT_ID=2fsopojfpi4-2nv9-101=
AVITO_CLIENT_SECRET=24ij-1o4vn14nvm1dsfew;jpwvklmwr
TG_BOT_TOKEN=5424991242:AAGwomxQz1p46bRi_2m3V7kvJlt5RjK9xr0
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=avito_bot_db
PG_USER=username
PG_PASSWORD=password